#stepsolving, #sent, #stepright, #stepsolution {
  display: none; }

.button {
  background-color: #03a9f4;
  margin-bottom: 10px; }
  .button:hover {
    background-color: #03a9f4 !important; }

#term {
  padding: 5px;
  border: 2px dotted #000; }
