#stepsolving, #sent, #stepright, #stepsolution {
  display: none; }

#stepsolvingbtn, #sentbtn, #send_step, #next, #backtothemes {
  background-color: #03a9f4;
  margin-bottom: 10px; }

#term {
  padding: 5px;
  border: 2px dotted #000; }
